<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
    <link href="/static/css/index.css" rel="stylesheet" type="text/css">
</head>
<body>
    <h1 class="title">Python и базы данных</h1>
    <h2 class="title">Цель: "Изучение основ работы с базами данных SQLite"</h2>
    <p class="text">- Создание базы данных с помощью библиотеки SQLite;</p>
    <p class="text">- Подключение базы данных к проекту на FLASK;</p>
    <p class="text">- Реализация записи результатов парсинга в БД;</p>
    <p class="text">- Работа с базой данных.</p>
    <br>
    <a class='btn' href="/parsing.html">Парсинг</a>
    <a class='btn' href="/sqlite.html">База данных</a>
</body>
</html>