<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>База данных</title>
    <link href="/static/css/sqlite.css" rel="stylesheet" type="text/css">
</head>
<body>
    <h1 class="title">Реляционная база данных</h1>
    <table class="table" align="center" border="1">
        <tr>
            <th class="th">№</th>
            <th class="th">ID ГОРОДА</th>
            <th class="th">ПРОФЕССИЯ</th>
            <th class="th">НАВЫКИ</th>
            <th class="th">ЗАРПЛАТА</th>
        </tr>
        {% for s in all_str %}
        <tr>
            <td class="td">{{s.id}}</td>
            <td class="td">{{s.city}}</td>
            <td class="td">{{s.vac}}</td>
            <td class="td">{{s.text}}</td>
            <td class="td">{{s.salary}} руб.</td>
        </tr>
        {% endfor %}
    </table>
    <br>
    <div class="rectangle text_center">
        <form action="/sqlite.html" method="post">
            <p class="title_form"><b>РУЧНОЙ ВВОД ДАННЫХ</b></p>
            <label>
                Выберите город:
            </label>
            <select name="city">
                <option value="1">Москва</option>
                <option value="2">Санкт-Петербург</option>
                <option value="3">Екатеринбург</option>
                <option value="4">Новосибирск</option>
                <option value="54">Красноярск</option>
            </select>
            <br><br>
            <label>
                Выберите профессию:
            </label>
            <select class="sel" name="vac">
                <option value="Программист Python">Программист Python</option>
                <option value="Программист 1С">Программист 1C</option>
                <option value="Системный администратор">Системный администратор</option>
            </select>
            <br><br>
            Введите нужные навыки:
            <input type="text" name="skills">
            <br><br>
            Введите уровень заработной платы:
            <input type="text" name="salary">
            <br><br>
            <input class="search" type="submit" value="ОТПРАВИТЬ">
        </form>
    </div>
    <a href="/index.html" class="btn">ГЛАВНАЯ СТРАНИЦА</a>
    <a href="/parsing.html" class='btn'>ПАРСИНГ</a>
</body>
</html>