<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Парсинг HH.RU</title>
    <link type="text/css" href="{{ url_for('static', filename='css/parsing.css') }}" rel="stylesheet">
</head>
<body>
    <h1 class="title">Парсинг HeadHunter</h1>
     <br> <br>
    <form action = '/result.html' method="post">
        <div>
            <label class="rect">
                Выберите город
            </label>
            <select class="sel" name = 'city'>
                <option value="1">Москва</option>
                <option value="2">Санкт-Петербург</option>
                <option value="3">Екатеринбург</option>
                <option value="4">Новосибирск</option>
                <option value="54">Красноярск</option>
            </select>
        </div>
        <br> <br>
        <div>
            <label class="rect">
                Выберите профессию
            </label>
            <select class="sel" name="vac">
                <option value="Программист Python">Программист Python</option>
                <option value="Программист 1С">Программист 1C</option>
                <option value="Системный администратор">Системный администратор</option>
            </select>
        </div>
        <br> <br>
        <input class="search" type="submit" value="ПОИСК">
    </form>
    <a href="/index.html" class="btn">ГЛАВНАЯ СТРАНИЦА</a>
    <a href="/sqlite.html" class='btn'>БАЗА ДАННЫХ</a>
</body>
</html>